body {
 background-color: khaki;
}
 
 h1 {
   color: black;
   font-size: 100;
   font-family: asapBold;
  
}
ul {
  font-size: 50;
  font-family: asap;
}

#div1 {
  padding-bottom: 20px;
  margin: 0px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
}

#title {
  font-size: 500%;
  margin: 2%;
  margin-right: 40%;
}



@font-face{
  src: url(fonts/Jost-VariableFont_wght.ttf);
  font-family: jost;
}
@font-face{
  src: url(fonts/BebasNeue-Regular.ttf);
  font-family: neue;
}
@font-face{
  src: url(fonts/Asap-Regular.ttf);
  font-family: asap;
}
@font-face{
  src: url(fonts/Asap-Bold.ttf);
  font-family: asapBold;
}