body {
 background-color: khaki;
}
 
 h1 {
   color: black;
   font-size: 100;
   font-family: asapBold;
  
}
ul {
  font-size: 50;
  font-family: asap;
}


@font-face{
  src: url(fonts/Jost-VariableFont_wght.ttf);
  font-family: jost;
}
@font-face{
  src: url(fonts/BebasNeue-Regular.ttf);
  font-family: neue;
}
@font-face{
  src: url(fonts/Asap-Regular.ttf);
  font-family: asap;
}
@font-face{
  src: url(fonts/Asap-Bold.ttf);
  font-family: asapBold;
}